* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f6ebda;
  background-image: url("images/bg_body_right.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right top;
}
.container {
  max-width: 1410px;
  position: relative;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-50 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

.col-40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}
.col-60 {
  max-width: 60%;
  flex: 0 0 60%;
  padding: 0 15px;
}
.col-33 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 15px;
}
.col-100 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}
.pic-set {
  max-width: 100%;
  display: block;
}
ul.navlist {
  list-style-type: none;
  display: flex;
  gap: 18px;
}
a.navlink {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: black;
}
ul.navlist > li:first-child > a {
  color: #ff902b;
}
img.search-icon {
  display: block;
}

.icon-holder {
  display: flex;
  align-items: center;
  gap: 13px;
}
button.icon-part {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  border: 0;
  outline: none;
}
.second-btn {
  background: transparent;
  border: 0;
  outline: none;
}
img.cart {
  display: block;
}
.company-btn {
  display: flex;
  gap: 50px;
}

div.navbtns {
  background: transparent;
  cursor: pointer;
  display: none;
}
.nav_icons {
  font-size: 22px;
}
.nav_icons[name="cross"] {
  display: none;
}

@media (max-width: 991px) {
  .menubar {
    position: fixed;
    left: 0;
    top: 0;
    width: 65%;
    height: 100%;
    z-index: 99;
    background-color: #17609b;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .navlist {
    flex-direction: column;
  }
  div.navbtns {
    background: transparent;
    cursor: pointer;
    display: block;
  }
  .active .menubar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .active .navbtns .nav_icons[name="cross"] {
    display: block;
  }
  .active .navbtns .nav_icons[name="menu"] {
    display: none;
  }
}
@media (max-width: 480px) {
  .icon-holder {
    display: none;
  }
}
.banner {
  padding-top: 100px;
  padding-bottom: 220px;
  background-image: url("images/bg_banner_left.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: left bottom;
}

@media (max-width: 991px) {
  .bannerpt_one {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
  }
  .bannerpt_two {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
  }
  .text-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-para h1,
  p {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .text-para h1 {
    font-size: 40px;
  }
}
@media (max-width: 370px) {
  .company-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.banner-btn {
  display: inline-flex;
  gap: 15px;
  background-color: #2f2105;
  padding: 5px 12px;
  border-radius: 14px;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}
.banner-btn > span:last-child {
  background-color: #ff902b;
  padding: 2px 4px;
  border-radius: 50%;
}
button.side-btn {
  background: transparent;
  border: 0;
  outline: none;
}
.banner-heading {
  font-size: 48px;
  margin-bottom: 52px;
}
.banner-heading > span {
  font-size: 48px;
  color: #ff902b;
}
.text-para {
  padding-top: 30px;
}
.text-para p {
  font-size: 18px;
  margin-bottom: 32px;
}
.bg-img {
  width: 100%;
  height: 100%;
  display: block;
}

div.lower_cards {
  width: 70%;
  height: 80px;
  position: absolute;
  z-index: 99;
  height: auto;
  bottom: -270px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
}
img.product_brand {
  display: block;
}
div.product_title {
  display: flex;
  justify-content: space-between;
}
div.cards-deal {
  display: flex;
  justify-content: space-between;
}
.cards_pd {
  padding: 8px;
  z-index: 999;
  background-color: white;
  border-radius: 8px;
}
div.float-edge {
  position: relative;
  border: 2px solid yellow;
}
div.float-edge::after {
  content: "";
  position: absolute;
  display: block;
  z-index: -2;
  width: 100%;
  height: 230px;
  bottom: -50px;
  border-radius: 50px;
  background-color: #f9d9aa;
  margin: 0 auto;
}
div.lower_box {
  position: absolute;
  width: 75%;
  margin: 0 auto;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: -390px;
  padding: 130px 0px;
  background-color: #f9d9aa;
  border-radius: 40px;
}
@media (max-width: 995px) {
  div.lower_box {
    display: none;
  }
}
div.upper_box {
  width: 100%;
  position: relative;
}
div.top_box {
  width: 80%;
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  bottom: -90px;
}
div.main_box {
  width: 100%;
}
.card_wrapper {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.star {
  position: relative;
}
.tbtn {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 2px 5px;
  border-radius: 20px;
  border: 0;
  outline: none;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.prodcut_image {
  display: block;
  width: 100%;
  height: 100%;
}
.brand_summa {
  display: flex;
  justify-content: space-between;
}
.brand-butns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-butns div > button {
  background: transparent;
  border: 1px solid #ff902b;
  color: #ff902b;
  padding: 3px 5px;
}
.setrr > button {
  background: transparent;
  border: 0;
  outline: none;
}
.sc_icons {
  display: block;
}
.services {
  padding: 80px;
  background-color: white;
}
.service_heading {
  display: flex;
  margin-top: 150px;
}
@media (max-width: 991px) {
  .service_heading {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }
  .servicech {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
  }
  .services {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 540px) {
  .midle {
    text-align: center;
  }
  .mid {
    text-align: center;
  }
}
@media (max-width: 704px) {
  .service_titles {
    text-align: center;
  }
}

@media (max-width: 380px) {
  .service-holder h5 {
    font-size: 15px;
  }

  .servicech {
    padding: 0px 0px;
  }
  .service_rows {
    margin-left: 0;
    margin-right: 0;
  }
}

.service_cards {
  margin-bottom: 150px;
}
img.paint {
  width: 100%;
  height: auto;
  display: block;
}
div.service-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h3.service_titles {
  font-size: 32px;
  letter-spacing: 2%;
  margin-bottom: 40px;
}
h3.service_titles > span {
  font-size: 32px;
  letter-spacing: 2%;
  position: relative;
}
h3.service_titles > span::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 140px;
  height: 3px;
  left: 0;
  bottom: 0;
}
.service-holder h5 {
  font-size: 24px;
  letter-spacing: 4%;
  font-size: 400;
}

.service-holder span {
  font-size: 18px;
  letter-spacing: 4%;
  font-size: 200;
}

.about_company {
  background: url("images/aboutusbackgroun.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
.company_profile {
  width: 100%;
}
.cup_photo {
  width: 100%;
  height: 100%;
  position: relative;
}
.cup_holder {
  width: 50%;
  position: absolute;
  z-index: 6;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
}
img.profile {
  display: block;
  width: 100%;
  height: 100%;
}
div.about_us_part2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.about_us_part2 > h2,
h3,
p,
button {
  margin-bottom: 40px;
}

div.about_us_part2 h2 {
  font-size: 32px;
  letter-spacing: 4%;
}
div.about_us_part2 h2 > span {
  font-size: 32px;
  letter-spacing: 4%;
  position: relative;
}
div.about_us_part2 h2 > span::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 5px;
  width: 50px;
  height: 3px;
  background-color: #ff902b;
}
div.about_us_part2 button {
  padding: 5px 5px;
  border-radius: 15px;
  border: 0;
  outline: none;
  background: #2f2105;
  color: white;
}
div.about_us_part2 > button {
  width: 20%;
}

@media (max-width: 1080px) {
  .cup_holder {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1328px) {
  div.about_us_part2 > button {
    width: 30%;
  }
}
@media (max-width: 1020px) {
  .cup_holder {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  div.about_us_part2 p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .co_left {
    display: none;
  }
  .co_right {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
  }
  div.about_us_part2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.about_us_part2 > h2,
  h3,
  p,
  button {
    text-align: center;
  }
  .dishes_headings {
    font-size: 24px;
  }
}
@media (max-width: 540px) {
  div.about_us_part2 > button {
    width: 50%;
  }
}
@media (max-width: 340px) {
  div.about_us_part2 > button {
    width: 70%;
  }
}

img.dish_pic {
  width: 100%;
  height: 100%;
  display: block;
}

.dish_holder {
  display: flex;
  flex-direction: column;
}
.dish_heading {
  display: flex;
  justify-content: space-between;
}
.link_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.dish_holder div {
  margin-bottom: 5px;
}
.dish_heading h4 {
  font-size: 24px;
  letter-spacing: 4%;
}
.top_menu {
  width: 100%;
  margin-bottom: 20px;
}
.dishes {
  padding-top: 120px;
  background-color: white;
  padding-bottom: 116px;
}

@media (max-width: 992px) {
  .dishes {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .fr {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sr {
    margin-left: 0px;
    margin-right: 0px;
  }
  .dish_holder {
    margin-bottom: 20px;
  }
}

.bottom_menu {
  width: 100%;
}
.rate {
  position: relative;
}
.rate_box {
  position: absolute;
  left: 15px;
  top: 10px;
}
.rate_box button {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  border-radius: 15px;
  padding: 3px 3px;
  align-items: center;
}
.rate_box button > span {
  font-size: 14px;
  font-weight: 800;
}

@media (max-width: 992px) {
  .tm {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 5px;
  }
  .bm {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 5px;
  }
}

.sliderone {
  padding: 94px 0px;
  background: url("images/Rectangle\ bg.png");
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: white;
}
.container-fluid {
  max-width: 100%;
  position: relative;
}
.customer_feedback_point {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.co_profile {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 0 15px;
}

.co_profile h2 {
  font-size: 32px;
  padding-left: 60px;
}
.co_profile h3 {
  font-size: 18px;
  font-weight: 400;
}
.rating_section {
  width: 60%;
  display: flex;
}
.child_cards {
  width: 33.33%;
}
.people_reviews {
  position: relative;
}
.picture {
  display: block;
  width: 213.92px;
  height: 280px;
}
.people_reviews button {
  text-align: left;
  padding: 7px;

  width: 80%;
  position: absolute;
  left: 10%;
  top: 52%;
  background-color: #ffd390;
  border-radius: 20px;
  border: 0;
  outline: none;
}

.people_reviews button h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}
.people_reviews button p {
  font-size: 14px;
}

.rating_section {
  padding: 0 10px;
}

@media (max-width: 1225px) {
  .co_profile h2 {
    text-align: center;
    padding-left: 0px;
  }
  .co_profile h3 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .co_profile {
    width: 100%;
  }
  .rating_section {
    width: 100%;
  }
  .sliderone {
    background-size: cover;
  }
  .co_profile h2 {
    font-size: 32px;
    padding-left: 0px;
    text-align: center;
  }
}
@media (max-width: 780px) {
  .people_reviews button {
    width: 80%;
  }
}

.footer {
  padding: 120px 77px;
  background-color: white;
}
.parallex {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("images/vetxuo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 140px;
  padding-bottom: 120px;
  border-radius: 25px;
}
.parallex h1 {
  margin-bottom: 40px;
  color: white;
  font-size: 32px;
  letter-spacing: 4%;
}
@media (max-width: 480px) {
  .parallex h1 {
    font-size: 25px;
  }
}
.fotter_btn {
  width: 60%;
  display: flex;
  border-radius: 50px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
@media (max-width: 480px) {
  .fotter_btn {
    width: 82%;
  }
}
.formf {
  width: 80%;
}
.formf input {
  width: 100%;
  padding: 15px 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
  background: transparent;
  border: 0;
  outline: none;
}
.formbtn {
  width: 20%;
}
.formbtn button {
  width: 100%;
  margin-bottom: 0px;
  padding: 15px 0px;
  border-radius: 50px;
  background-color: #2f2105;
  color: white;
  font-size: 13px;
}
.field::placeholder {
  padding-left: 30px;
  font-size: 16px;
}

@media (max-width: 912px) {
  .fotter_btn {
    width: 80%;
  }
  .parallex h1 {
    text-align: center;
  }
}
@media (max-width: 716px) {
  .fotter_btn {
    width: 90%;
  }
  .formbtn {
    width: 30%;
  }
}
@media (max-width: 540px) {
  .fotter_btn {
    width: 90%;
  }
  .formbtn {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .people_reviews {
    display: flex;
    justify-content: center;
  }
  .fotter_btn {
    width: 90%;
  }
  .formbtn {
    width: 40%;
  }
  .footer {
    padding: 120px 8px;
    background-color: white;
  }
}
@media (max-width: 340px) {
  .fotter_btn {
    width: 98%;
  }
}
